<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Filmes</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md-10">
    <h1 class="h2 border-left pl-2">Filmes</h1>
  </div>
  <div class="col-md-2">
    <a routerLink="new" class="btn btn-success float-right">+ Novo filme</a>
  </div>
</div>


<div class="row mb-5">
  <div class="col-md-4 mb-4" *ngFor="let movie of movies">
    <div class="card" style="width: 18rem;">
      <img src="{{movie.poster}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ movie.nome }}</h5>
        <p class="card-text">{{ movie.descricao }}</p>

        <p><strong>genero:</strong> {{ movie.genero }}</p>
        <p><strong>ano:</strong> {{ movie.ano }}</p>
        <p><strong>diretor:</strong> {{ movie.diretor }}</p>
        <div class="card-footer" style="display: flex; justify-content: space-between;">
          <a href="#" class="btn btn-success">Editar</a>
          <a (click)="deleteMovie(movie)" class="btn btn-danger">Excluir</a>

        </div>
      </div>
    </div>
  </div>

</div>
