<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/movies">Filmes</a></li>
    <li class="breadcrumb-item active">{{ pageTitle }}</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md-10">
    <h1 class="h2 border-left pl-2">{{ pageTitle }}</h1>
  </div>
  <div class="col-md-2">
    <a routerLink="/movies" class="btn btn-light float-right">
      << Voltar </a>
  </div>
</div>

<form [formGroup]="movieForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Informações sobre o filme</div>

    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-4">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="nome" />
        </div>

        <div class="form-group col-md-8">
          <label for="description" class="form-label">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="descricao" />
        </div>

        <div class="form-group col-md-2 mt-2">
          <label for="ano" class="form-label">Ano</label>
          <input type="number" class="form-control" id="ano" formControlName="ano" />
        </div>

        <div class="form-group col-md-5  mt-2">
          <label for="diretor" class="form-label">Diretor</label>
          <input type="text" class="form-control" id="diretor" formControlName="diretor" />
        </div>

        <div class="form-group col-md-5  mt-2">
          <label for="genero" class="form-label">Gênero</label>
          <input type="text" class="form-control" id="genero" formControlName="genero" />
        </div>

        <div class="form-group col-md-6  mt-2">
          <label for="poster" class="form-label">Pôster - Link</label>
          <input type="text" class="form-control" id="poster" formControlName="poster" />
        </div>

      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages.length > 0">
    <strong>Erro no Servidor</strong>
    <ul>
      <li *ngFor="let err of serverErrorMessages">{{ err }}</li>
    </ul>
  </div>

  <button [disabled]="submittingForm || movieForm.invalid"  type="submit" class="btn btn-primary btn-lg mt-3 float-end">
    Salvar
  </button>
</form>
